server {
    listen 80;

    location / { try_files $uri @app; }
    location @app {
        include uwsgi_params;
        uwsgi_pass localhost:5001;
    }
}

server {
    listen 80;
    server_name cuplsensor.com;
    
    location / { 
        rewrite ^/component(.*)$ $1 break;
        try_files $uri @app; 
    }
    location @app {
        include uwsgi_params;
        uwsgi_pass localhost:5001;
    }
}


