server {
    listen 443;

    location / { try_files $uri @app; }
    location @app {
        include uwsgi_params;
        uwsgi_pass localhost:5001;
    }
}

server {
    listen 80;
    server_name cuplsensor.com;
    
    if ($http_x_forwarded_proto != "https") {
        rewrite ^(.*)$ https://$host$request_uri permanent;
    }
}


