server {
    listen 80;
    rewrite ^ http://nginx$request_uri? permanent;

    location / { try_files $uri @app; }
    location @app {
        include uwsgi_params;
        uwsgi_pass localhost:5001;
    }
}
