server {
    listen ${NGINX_PORT};

    #location / {
    #    root   /usr/share/nginx/html/cuplfrontend;
    #    index  index.html index.htm;
    #    try_files $uri $uri/ /index.html;
    #}

    location /backend { try_files $uri/ @app; }
    location @app {
        include uwsgi_params;
        uwsgi_pass ${WSB_HOST}:${WSB_PORT};
    }
}
