version: "3.1"
services:
 redis_r1:
   restart: 'on-failure'
   image: redis:6.0.8-buster

 postgres_p1:
  restart: 'on-failure'
  image: postgres:latest
  environment: 
   - POSTGRES_PASSWORD=${DB_PASS}
   - POSTGRES_USER=${DB_USER}
   - POSTGRES_DB=${DB_NAME}
   - POSTGRES_PORT=${DB_PORT}

 cuplbackend:
   restart: 'on-failure'
   env_file: .env
   build: 
     context: ./cuplbackend
   environment:
     - DB_HOST
     - DB_NAME
     - DB_PORT
     - DB_USER
     - SERVER_NAME
     - DROP_ON_INIT
     - WSB_PORT
     - RATELIMIT_STORAGE_URL
     - RATELIMIT_STRATEGY
     - RATELIMIT_ENABLED
     # Passwords
     - DB_PASS
     - ADMINAPI_CLIENTSECRET
     - TAGTOKEN_CLIENTSECRET
     - HASHIDS_SALT
     - CSRF_SESSION_KEY
     - SECRET_KEY
   depends_on:
     - postgres_p1
     - redis_r1
           
 nginx:
   restart: 'on-failure'
   build: 
    context: ./nginx
   ports:
    - 8081:80
    - 443:443

volumes:
 nginx-letsencrypt:
