version: "3"
services:
 redis_r1:
   logging:
      driver: awslogs
      options:
        awslogs-group: tutorial
        awslogs-region: us-east-1
        awslogs-stream-prefix: cupldeploy_redis_r1
   restart: 'on-failure'
   image: redis:6.0.8-buster

 cuplbackend:
   restart: 'on-failure'
   env_file: .env
   image: cupl/backend:latest
   logging:
      driver: awslogs
      options:
        awslogs-group: tutorial
        awslogs-region: us-east-1
        awslogs-stream-prefix: cupldeploy_cuplbackend
   environment:
     - DB_HOST
     - DB_NAME
     - DB_PORT
     - DB_USER
     - SERVER_NAME
     - DROP_ON_INIT
     - WSB_PORT
     - RATELIMIT_STORAGE_URL
     - RATELIMIT_STRATEGY
     - RATELIMIT_ENABLED
     - FLASK_ENV
     # Passwords
     - DB_PASS
     - ADMINAPI_CLIENTSECRET
     - TAGTOKEN_CLIENTSECRET
     - HASHIDS_SALT
     - CSRF_SESSION_KEY
     - SECRET_KEY
   depends_on:
     - redis_r1
   
 nginx:
   restart: 'on-failure'
   image: cupl/cupldeploy_nginx:latest
   logging:
      driver: awslogs
      options:
        awslogs-group: tutorial
        awslogs-region: us-east-1
        awslogs-stream-prefix: cupldeploy_nginx
   environment:
     - WSB_HOST
     - WSB_PORT
     - NGINX_PORT=80
   ports:
     - 80:80
     - 443:443
   depends_on:
     - cuplfrontend
     - cuplbackend
