version: "3"
services:
 redis_r1:
   restart: 'on-failure'
   image: redis:6.0.8-buster

 cuplbackend:
   restart: 'on-failure'
   env_file: .env
   image: cupl/backend:latest
   environment:
     - DB_HOST
     - DB_NAME
     - DB_PORT
     - DB_USER
     - DROP_ON_INIT
     - WSB_PORT
     - SERVER_NAME
     - RATELIMIT_STORAGE_URL
     - RATELIMIT_STRATEGY
     - RATELIMIT_ENABLED
     # Passwords
     - DB_PASS
     - ADMINAPI_CLIENTSECRET
     - TAGTOKEN_CLIENTSECRET
     - HASHIDS_SALT
     - CSRF_SESSION_KEY
     - SECRET_KEY
   depends_on:
     - redis_r1
   
 nginx2:
   restart: unless-stopped
   build: ./nginx
   environment:
     - CERTBOT_EMAIL=malcolm.mackay121@gmail.com
     - ENVSUBST_VARS=SERVER_NAME WSB_PORT
     - SERVER_NAME
     - WSB_PORT=5002
   ports:
     - 80:80/tcp
     - 443:443/tcp
   volumes:
     - letsencrypt:/etc/letsencrypt
   depends_on:
     - cuplbackend
     - redis_r1

volumes:
 letsencrypt:
